@page "/"
@rendermode InteractiveWasm

<PageTitle>Nation Finder</PageTitle>
<h1>Nation Finder</h1>
<h2>Can you find the country by shape?</h2>

@if (_username is null || !_isRegistered)
{
    <label>
        Please enter your user name:
        <input type="text" @bind="_username"/>
    </label>
    <button @onclick="Register"
            disabled="@(string.IsNullOrWhiteSpace(_username))">
        Register
    </button>
    <label style="color: red">
        @_error
    </label>
}
else
{
    if ((!_ok && _selectedCountry is not null) || _gameOver || !_gameStarted)
    {
        <div class="overlay-container">
            <div class="overlay">
                @if (!_gameStarted)
                {
                    <button type="button" class="btn btn-primary" @onclick="@(() => _gameStarted = true)">Begin Game</button>
                }
                else if (_gameOver)
                {
                    <label>Answer: @_correctCountry</label>
                    if (_correctCountry == _selectedCountry)
                    {
                        <label>You Win!</label>
                    }
                    else
                    {
                        <label>Your Guess: @_selectedCountry</label>
                    }
                }
                else if (_guessSubmitted)
                {
                    <label>Guess Submitted</label>
                    <button type="button" class="btn btn-primary" @onclick="Explore">Explore the Map</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" @onclick="SubmitGuess">Submit Your Guess</button>
                    <button type="button" class="btn btn-secondary" @onclick="ClearSelection">Clear Selection</button>
                }
            </div>
        </div>
        
    }
    <SceneView @ref="_sceneView" Class="map-view"
               Style="@($"cursor: {_cursor};")"
               OnClick="OnMapClicked"
               OnLayerViewCreate="OnLayerViewCreated">
        <Map>
            <Basemap>
                <TileLayer @ref="_worldImageryBasemap" Title="World Imagery">
                    <PortalItem Id="10df2279f9684e4a9f6a7f08febac2a9"/>
                </TileLayer>
            </Basemap>
            <GraphicsLayer @ref="_selectedGraphicsLayer" />
            <FeatureLayer @ref="_countriesLayer" 
                          PopupEnabled="false" 
                          Title="Countries"
                          OutFields="@(["COUNTRY"])">
                <PortalItem Id="ac80670eb213440ea5899bbf92a04998"/>
                <SimpleRenderer>
                    <SimpleFillSymbol Color="@(new MapColor(0, 100, 0, 0.1))">
                        <Outline Color="@(new MapColor("lightblue"))" Width="2" />
                    </SimpleFillSymbol>
                </SimpleRenderer>
            </FeatureLayer>
        </Map>
        @if (_ok)
        {
            <LocateWidget Position="OverlayPosition.TopLeft" />
            <SearchWidget Position="OverlayPosition.TopRight" />
            <ExpandWidget Position="OverlayPosition.BottomLeft">
                <SketchWidget />
            </ExpandWidget>
            <ExpandWidget Position="OverlayPosition.BottomRight"
                          ExpandIcon="esri-icon-basemap">
                <BasemapGalleryWidget>
                    <PortalBasemapsSource
                        QueryParams="@(new Dictionary<string, string> { { "id", "bdb9d65e0b5c480c8dcc6916e7f4e099" } })" />
                </BasemapGalleryWidget>
            </ExpandWidget>
        }
    </SceneView>
}