@page "/feature-layers"
@inherits SamplePage
<PageTitle>Feature Layers</PageTitle>
<h1>Feature Layers</h1>

<p class="instructions">
    Use the radio buttons to toggle various feature layers.
</p>
<div>
    <div class="form-group spaced-row">
        <label for="trailheads-points-layer">
            Show Trailheads Points Layer:
        </label>
        <input id="trailheads-points-layer" type="checkbox" class="form-check-input" 
               @onchange="@(() => _showPointsLayer = !_showPointsLayer)">
    </div>
    <div class="form-group">
        <RadioGroup @bind-Value="_showLinesLayer">
            <RadioRow Value="1" 
                      Label="Show Trailheads Lines Layer:" 
                      Id="trailheads-lines-layer" />
            <RadioRow Value="2" 
                      Label="Show Trailheads Polylines Layer:" 
                      Id="trailheads-polylines-layer" />
            <RadioRow Value="3" 
                      Label="Show Trailheads Polylines with Polygon Layer:" 
                      Id="trailheads-polylines-with-polygon-layer" />
        </RadioGroup>
    </div>
    <div class="form-group spaced-row">
        <label for="trailhead-polygons-layer">
            Show Trailheads Polygons Layer:
        </label>
        <input id="trailhead-polygons-layer" type="checkbox" class="form-check-input" @onchange="@(() => _showPolygonLayer = !_showPolygonLayer)">
    </div>
    <div class="form-group spaced-row">
        <label for="client-side-graphics-layer">
            Show Client-Side Graphics Layer:
        </label>
        <input id="client-side-graphics-layer" type="checkbox" class="form-check-input" @onchange="@(() => _showGraphics = !_showGraphics)">
    </div>
</div>

<MapView Longitude="-118.80543" Latitude="34.02700" Zoom="13" Class="map-view">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisTopographic" />
        </Basemap>
        @if (_showPolygonLayer)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Parks_and_Open_Space/FeatureServer/0" />
        }
        @if (_showLinesLayer == 1)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0" />
        }
        else if (_showLinesLayer == 2)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0"
                          Opacity="0.75">
                <SimpleRenderer>
                    <SimpleLineSymbol Color="@(new MapColor("#BA55D3"))"
                                      Style="SimpleLineSymbolStyle.Solid" />
                    <SizeVariable Field="ELEV_GAIN"
                                  MinDataValue="0"
                                  MaxDataValue="2300"
                                  MinSize="3"
                                  MaxSize="7" />
                </SimpleRenderer>
            </FeatureLayer>
        }
        else if (_showLinesLayer == 3)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0"
                          DefinitionExpression="USE_BIKE = 'YES'">
                <SimpleRenderer>
                    <SimpleLineSymbol Color="@(new MapColor("#FF91FF"))"
                                      Style="SimpleLineSymbolStyle.ShortDot"
                                      Width="1" />
                </SimpleRenderer>
            </FeatureLayer>
        }
        @if (_showPointsLayer)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trailheads/FeatureServer/0" />
        }
        @if (_showGraphics)
        {
            <FeatureLayer ObjectIdField="ObjectID" GeometryType="FeatureGeometryType.Point">
                <SpatialReference Wkid="4326" />
                <PopupTemplate Title="Custom Point {ObjectID}" StringContent="<img src='{url}' />" />
                <SimpleRenderer>
                    <TextSymbol Color="@(new MapColor("#7A003C"))"
                                Text="">
                        <MapFont Size="20" Family="CalciteWebCoreIcons" />
                    </TextSymbol>
                </SimpleRenderer>
                <Field Name="ObjectID" Type="FieldType.Oid" />
                <Field Name="url" Type="FieldType.String" />
                <Graphic Attributes="@(new AttributesDictionary(new Dictionary<string, object?> { { "ObjectID", "6" }, { "url", "https://arcgis.github.io/arcgis-samples-javascript/sample-data/featurelayer-collection/photo-6.jpg" } }))">
                    <Point Longitude="-118.805" Latitude="34.027" />
                </Graphic>
                <Graphic Attributes="@(new AttributesDictionary(new Dictionary<string, object?> { { "ObjectID", "5" }, { "url", "https://arcgis.github.io/arcgis-samples-javascript/sample-data/featurelayer-collection/photo-5.jpg" } }))">
                    <Point Longitude="-118.815" Latitude="34.017" />
                </Graphic>
                <Graphic Attributes="@(new AttributesDictionary(new Dictionary<string, object?> { { "ObjectID", "4" }, { "url", "https://arcgis.github.io/arcgis-samples-javascript/sample-data/featurelayer-collection/photo-4.jpg" } }))">
                    <Point Longitude="-118.795" Latitude="34.027" />
                </Graphic>
            </FeatureLayer>
        }
    </Map>
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/add-a-feature-layer/", "ArcGIS Maps SDK for JavaScript"),
        new("https://www.arcgis.com/home/item.html?id=67372ff42cd145319639a99152b15bc3", "Topographic BaseMap")
    ];

    public override string Description =>
        "This GeoBlazor sample, written in Blazor for .NET developers, demonstrates several flavors of the " +
        "FeatureLayer from the ArcGIS Maps SDK for JavaScript exposed through GeoBlazor's FeatureLayer Razor " +
        "component. The page shows a 2D topographic basemap zoomed in over the Santa Monica Mountains. Above " +
        "the map sits a panel of toggles: a Show Trailheads Points Layer checkbox (loads the Trailheads point " +
        "FeatureLayer with default symbology), a radio group with three options for the Trails polyline layer " +
        "(default rendering, a custom orchid SimpleLineSymbol whose width is sized by the ELEV_GAIN field through " +
        "a SizeVariable, or a dotted pink line filtered to bike-friendly trails via DefinitionExpression), a " +
        "Show Trailheads Polygons checkbox (loads the Parks and Open Space polygon FeatureLayer), and a Show " +
        "Client-Side Graphics Layer checkbox that creates a FeatureLayer in pure C# from inline Graphics with " +
        "Calcite-icon TextSymbols, custom Field definitions, and a PopupTemplate that displays a photo via " +
        "{url}. The sample is intended to demonstrate hosted, styled, filtered, and client-side feature layers " +
        "side-by-side in a Blazor application without writing JavaScript.";

    private bool _showPointsLayer;
    private int _showLinesLayer;
    private bool _showPolygonLayer;
    private bool _showGraphics;
}