@page "/popups"
@inherits SamplePage

<PageTitle>Popups</PageTitle>
<h1>Popups</h1>

<p class="instructions">
    Use the radio buttons to toggle features with three different types of popups.
    Once the features are rendered, click on a feature to see the popup.
</p>
<div class="form-group">
    <RadioGroup disabled="@(MapView is null)"
                @bind-Value="_showPopupOption"
                @bind:after="@(() => MapView!.ClosePopup())">
        <RadioRow Value="1"
                  Label="Display Attributes Popup"
                  Id="display-attributes-popup" />
        <RadioRow Value="2"
                  Label="Display Elevation Chart Popup"
                  Id="display-elevation-popup" />
        <RadioRow Value="3"
                  Label="Display Table Popup"
                  Id="display-table-popup" />
    </RadioGroup>
</div>

<MapView @ref="MapView" Longitude="-118.80543" Latitude="34.02700" Zoom="13" Class="map-view">
    <Map>
        <Basemap>
            <PortalItem PortalItemId="f35ef07c9ed24020aadd65c8a65d3754" />
        </Basemap>
        @if (_showPopupOption == 1)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trailheads_Styled/FeatureServer/0"
                          OutFields="@(new[] { "TRL_NAME", "CITY_JUR", "X_STREET", "PARKING", "ELEV_FT" })">
                <PopupTemplate Title="Trailhead"
                               StringContent="<b>Trail:</b> {TRL_NAME}<br><b>City:</b> {CITY_JUR}<br><b>Cross Street:</b> {X_STREET}<br><b>Parking:</b> {PARKING}<br><b>Elevation:</b> {ELEV_FT} ft" />
            </FeatureLayer>
        }
        else if (_showPopupOption == 2)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails_Styled/FeatureServer/0"
                          OutFields="@(new[] { "TRL_NAME", "ELEV_GAIN" })">
                <PopupTemplate Title="Trail Information">
                    <MediaPopupContent>
                        <ColumnChartMediaInfo Caption="">
                            <ChartMediaInfoValue Fields="@(new[] { "ELEV_MIN", "ELEV_MAX" })"
                                                 TooltipField="Min and max elevation values" />
                        </ColumnChartMediaInfo>
                    </MediaPopupContent>
                </PopupTemplate>
            </FeatureLayer>
        }
        else if (_showPopupOption == 3)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Parks_and_Open_Space_Styled/FeatureServer/0"
                          OutFields="@(new[] { "TYPE", "PARK_NAME", "AGNCY_NAME", "ACCESS_TYP", "GIS_ACRES", "TRLS_MI", "TOTAL_GOOD", "TOTAL_FAIR", "TOTAL_POOR" })">
                <PopupTemplate Title="{PARK_NAME}">
                    <FieldsPopupContent>
                        <FieldInfo FieldName="AGNCY_NAME" Label="Agency" IsEditable="true" Tooltip="" Visible="true"
                                   StringFieldOption="StringFieldOption.TextBox" />
                        <FieldInfo FieldName="TYPE" Label="Type" IsEditable="true" Tooltip="" Visible="true"
                                   StringFieldOption="StringFieldOption.TextBox" />
                        <FieldInfo FieldName="ACCESS_TYP" Label="Access" IsEditable="true" Tooltip="" Visible="true"
                                   StringFieldOption="StringFieldOption.TextBox" />
                        <FieldInfo FieldName="GIS_ACRES" Label="Acres" IsEditable="true" Tooltip="" Visible="true"
                                   StringFieldOption="StringFieldOption.TextBox">
                            <FieldInfoFormat Places="2" DigitSeparator="true" />
                        </FieldInfo>
                    </FieldsPopupContent>
                </PopupTemplate>
            </FeatureLayer>
        }
    </Map>
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/display-a-pop-up/", "ArcGIS Maps SDK for JavaScript"),
        new("https://www.arcgis.com/home/item.html?id=f35ef07c9ed24020aadd65c8a65d3754", "Modern Antique BaseMap")
    ];

    public override string Description =>
        "This GeoBlazor sample, written in Blazor for .NET developers, demonstrates three styles of feature " +
        "popups from the ArcGIS Maps SDK for JavaScript via GeoBlazor's PopupTemplate, MediaPopupContent, " +
        "ColumnChartMediaInfo, and FieldsPopupContent Razor components. " +
        "The page shows a 2D map of the Santa Monica Mountains rendered with the Modern Antique basemap. " +
        "Above the map is a radio group with three options: 'Display Attributes Popup' (renders a Trailheads " +
        "FeatureLayer with a popup showing trail name, city, cross street, parking, and elevation as " +
        "formatted HTML), 'Display Elevation Chart Popup' (renders a Trails FeatureLayer with a popup that " +
        "embeds a column chart visualizing min and max elevation), and 'Display Table Popup' (renders a " +
        "Parks and Open Space FeatureLayer with a popup that lists agency, type, access, and acreage as a " +
        "table of editable FieldInfo entries). Selecting a radio option swaps the active FeatureLayer and " +
        "closes any open popup; clicking a feature on the map then opens the corresponding popup style. " +
        "The sample is intended to demonstrate text, chart, and tabular popup formats in a Blazor application " +
        "without writing JavaScript.";

    private MapView? MapView { get; set; }

    private int _showPopupOption;
}