@page "/projection-tool"
@inherits SamplePage
@inject ProjectionEngine ProjectionEngine

<h1>Projection</h1>
<p class="instructions">
    Most mapping projections are handled automatically by <code>SpatialReferences</code> built into basemaps, feature layers,
    and graphics. However, there is also a tool you can call directly to "Project" or "GetTransformation" between several
    different <code>SpatialReferences</code>. In this sample, the maps are auto-calculating the projections, but the X/Y
    coordinates and <code>GeographicTransformation</code> steps are calculated via the projection tool.
    See the <a target="_blank" href="source-code/projection">Source Code</a> for the Display Projection page for more Wkid values.
    Not all values will render properly with this GeoJSON map.
</p>

<div class="form-group">
    <h2>Starting Point</h2>
    <div class="spaced-row">
        <label for="long-input">
        Longitude:
        </label>
            <input id="long-input" type="number" step="0.01" @bind="StartingLong" />
        
        <label for="lat-input">
        Latitude:
        </label>
            <input id="lat-input" type="number" step="0.01" @bind="StartingLat" />
        
    </div>
</div>

<div class="spaced-row">
    <div class="form-group" style="height: fit-content;">
        <div class="spaced-row">
            <label for="wkid-select-1">
                Wkid:
            </label>
            <select id="wkid-select-1" @onchange="UpdateWkid1">
                <option value="3857" disabled>Select a projection</option>
                <optgroup label="Equidistant (maintain length)">
                    <option value="4326" selected="@(_wkid1 = 4326)">4326: WGS84 (GCS) -> pseudo Plate Carrée (Cylindrical)</option>
                    <option value="54028" selected="@(_wkid1 = 54028)">54028: World Cassini (Cylindrical)</option>
                    <option value="54027" selected="@(_wkid1 = 54027)">54027: World Equidistant conic (Conic)</option>
                </optgroup>
                <optgroup label="Conformal (maintain angles)">
                    <option value="54026" selected="@(_wkid1 = 54026)">54026: World Stereographic (Azimuthal)</option>
                </optgroup>
                <optgroup label="Equal-area (maintain area)">
                    <option value="54010" selected="@(_wkid1 = 54010)">54010: World Eckert VI (Pseudocylindrical)</option>
                    <option value="54008" selected="@(_wkid1 = 54008)">54008: World Sinusoidal (Pseudocylindrical)</option>
                </optgroup>
                <optgroup label="Gnomonic (distances)">
                    <option value="102034" selected="@(_wkid1 = 102034)">102034: North Pole Gnomonic (Azimuthal)</option>
                </optgroup>
                <optgroup label="Compromise (distort all)">
                    <option value="3857" selected="@(_wkid1 = 3857)">3857: Web Mercator Auxiliary Sphere (Cylindrical)</option>
                    <option value="54016" selected="@(_wkid1 = 54016)">54016: World Gall Stereographic (Cylindrical)</option>
                    <option value="54042" selected="@(_wkid1 = 54042)">54042: World Winkel Tripel (Pseudoazimuthal)</option>
                    <option value="54050" selected="@(_wkid1 = 54050)">54050: World Fuller / Dymaxion map (Polyhedral)</option>
                </optgroup>
            </select>
        </div>
        <div class="spaced-row">
            <label>X: @_startX?.ToString("N2")</label>
            <label>Y: @_startY?.ToString("N2")</label>
        </div>
        
        <MapView @ref="_view1" Longitude="_startingLong" Latitude="_startingLat" Zoom="10"
                 OnViewRendered="View1Rendered" Style="background-color: lightblue;"
                 Class="map-view">
            <SpatialReference Wkid="@_wkid1" />
            <Map>
                <GeoJSONLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/ArcGIS/rest/services/World_Countries_(Generalized)/FeatureServer/0/query?where=1%3D1&outFields=*&f=geojson">
                    <SpatialReference Wkid="103002" />
                    <SimpleRenderer>
                        <SimpleFillSymbol Color="@(new MapColor(255, 255, 255, 1))">
                            <Outline Width="0.5" Color="@(new MapColor(100, 70, 170, 0.75))" />
                        </SimpleFillSymbol>
                    </SimpleRenderer>
                </GeoJSONLayer>
                <GraphicsLayer>
                    <Graphic @ref="_graphic1">
                        <Point Latitude="_startingLat" Longitude="_startingLong" />
                        <SimpleMarkerSymbol Color="@(new MapColor(81, 46, 132))" />
                    </Graphic>
                </GraphicsLayer>
            </Map>
        </MapView>
    </div>
    <div class="form-group" style="height: fit-content;">
        <div class="spaced-row">
            <label for="wkid-select-2">
                Wkid:
            </label>
            <select id="wkid-select-2" @onchange="UpdateWkid2">
                <option value="3857" disabled>Select a projection</option>
                <optgroup label="Equidistant (maintain length)">
                    <option value="4326" selected="@(_wkid2 = 4326)">4326: WGS84 (GCS) -> pseudo Plate Carrée (Cylindrical)</option>
                    <option value="54028" selected="@(_wkid2 = 54028)">54028: World Cassini (Cylindrical)</option>
                    <option value="54027" selected="@(_wkid2 = 54027)">54027: World Equidistant conic (Conic)</option>
                </optgroup>
                <optgroup label="Conformal (maintain angles)">
                    <option value="54026" selected="@(_wkid2 = 54026)">54026: World Stereographic (Azimuthal)</option>
                </optgroup>
                <optgroup label="Equal-area (maintain area)">
                    <option value="54010" selected="@(_wkid2 = 54010)">54010: World Eckert VI (Pseudocylindrical)</option>
                    <option value="54008" selected="@(_wkid2 = 54008)">54008: World Sinusoidal (Pseudocylindrical)</option>
                </optgroup>
                <optgroup label="Gnomonic (distances)">
                    <option value="102034" selected="@(_wkid2 = 102034)">102034: North Pole Gnomonic (Azimuthal)</option>
                </optgroup>
                <optgroup label="Compromise (distort all)">
                    <option value="3857" selected="@(_wkid2 = 3857)">3857: Web Mercator Auxiliary Sphere (Cylindrical)</option>
                    <option value="54016" selected="@(_wkid2 = 54016)">54016: World Gall Stereographic (Cylindrical)</option>
                    <option value="54042" selected="@(_wkid2 = 54042)">54042: World Winkel Tripel (Pseudoazimuthal)</option>
                    <option value="54050" selected="@(_wkid2 = 54050)">54050: World Fuller / Dymaxion map (Polyhedral)</option>
                </optgroup>
            </select>
            <div class="spaced-row">
                <label>X: @_endX?.ToString("N2")</label>
                <label>Y: @_endY?.ToString("N2")</label>
            </div>
        </div>
        
        <MapView @ref="_view2" Longitude="_startingLong" Latitude="_startingLat" Zoom="3"
                 OnViewRendered="View2Rendered" Style="background-color: lightblue;"
                 Class="map-view">
            <SpatialReference Wkid="@_wkid2" />
            <Map>
                <GeoJSONLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/ArcGIS/rest/services/World_Countries_(Generalized)/FeatureServer/0/query?where=1%3D1&outFields=*&f=geojson">
                    <SpatialReference Wkid="4326" />
                    <SimpleRenderer>
                        <SimpleFillSymbol Color="@(new MapColor(255, 255, 255, 1))">
                            <Outline Width="0.5" Color="@(new MapColor(100, 70, 170, 0.75))" />
                        </SimpleFillSymbol>
                    </SimpleRenderer>
                </GeoJSONLayer>
                <GraphicsLayer>
                    <Graphic @ref="_graphic1">
                        <Point Latitude="_startingLat" Longitude="_startingLong" />
                        <SimpleMarkerSymbol Color="@(new MapColor(81, 46, 132))" />
                    </Graphic>
                </GraphicsLayer>
            </Map>
        </MapView>
    </div>
</div>

<div class="form-group">
    <h2>Get Transformation</h2>
    <div class="spaced-row">
        <label>
            Starting Projection (Wkid):
        </label>
        <input type="number" value="@_view1SpatialReference?.Wkid" disabled="@true" />
    </div>
        <label>Transformation Steps</label>
        @if (_transformation?.Steps is not null)
        {
            for (var i = 0; i < _transformation.Steps.Length; i++)
            {
                GeographicTransformationStep step = _transformation.Steps[i];
                <div class="spaced-row">
                    <label>@(i + 1):</label>
                    <input type="number" value="@step.Wkid" disabled="@true" />
                </div>
            }
        }
        else
        {
            <label>None</label>
        }

    <div class="spaced-row">
        <label>
            Ending Projection (Wkid):
        </label>
        <input type="number" value="@_view2SpatialReference?.Wkid" disabled="@true" />
    </div>
</div>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/api-reference/esri-geometry-projection.html", "ArcGIS Maps SDK for JavaScript"),
     ];

    private MapView? _view1;
    private MapView? _view2;
    private Graphic? _graphic1;
    private double StartingLat
    {
        get => _startingLat;
        set
        {
            _startingLat = value;
            InvokeAsync(Project);
        }
    }
    private double StartingLong
    {
        get => _startingLong;
        set
        {
            _startingLong = value;
            InvokeAsync(Project);
        }
    }
    
    private async Task UpdateWkid1(ChangeEventArgs args)
    {
        _allRendered = false;
        _wkid1 = int.Parse(args.Value!.ToString() ?? "103002");
        await _view1!.SetSpatialReference(new SpatialReference(_wkid1));
    }
    
    private async Task UpdateWkid2(ChangeEventArgs args)
    {
        _allRendered = false;
        _wkid2 = int.Parse(args.Value!.ToString() ?? "4326");
        await _view2!.SetSpatialReference(new SpatialReference(_wkid2));
    }
    
    private int _wkid1 = 103002;
    private int _wkid2 = 4326;
    private double _startingLat = 74.795766;
    private double _startingLong = -32.507603;
    private double? _startX;
    private double? _startY;
    private double? _endX;
    private double? _endY;
    private SpatialReference? _view1SpatialReference;
    private SpatialReference? _view2SpatialReference;
    private bool _allRendered;
    private GeographicTransformation? _transformation;

    private async Task View1Rendered()
    {
        if (_allRendered) return;

        _view1SpatialReference = await _view1!.GetSpatialReference();
        if (_view2SpatialReference is not null)
        {
            await Project();
        }
    }

    private async Task View2Rendered()
    {
        if (_allRendered) return;

        _view2SpatialReference = await _view2!.GetSpatialReference();
        if (_view1SpatialReference is not null)
        {
            await Project();
        }
    }

    private async Task Project()
    {
        _allRendered = true;
        Geometry? renderedPoint = await _graphic1!.GetGeometry();
        var startPoint = await ProjectionEngine.Project(renderedPoint!, _view1SpatialReference!) as Point;
        _startX = startPoint!.X;
        _startY = startPoint.Y;
        var endPoint = await ProjectionEngine.Project(renderedPoint!, _view2SpatialReference!) as Point;
        _endX = endPoint!.X;
        _endY = endPoint.Y;
        Extent? view1Extent = await _view1!.GetExtent();
        _transformation = await ProjectionEngine.GetTransformation(_view1SpatialReference!, _view2SpatialReference!, view1Extent!);
        Console.WriteLine($"Transformation: {JsonSerializer.Serialize(_transformation)}");
        StateHasChanged();
    }

}