@page "/widgets"
@inherits SamplePage

<PageTitle>Widgets</PageTitle>
<h1>Widgets</h1>

<p class="instructions">
    Use the checkboxes to toggle various widgets on/off. Notice that Widgets can be placed on top of the map,
    or outside the map, as in the case of the Basemap Gallery.
</p>
<div class="form-group">
    <div class="form-group spaced-row">
        <label for="locator-input">
            Locator:
        </label>
        <input id="locator-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(LocateWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="search-input">
            Search:
        </label>
        <input id="search-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(SearchWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="basemap Toggle-input">
            Basemap Toggle:
        </label>
        <input id="basemap Toggle-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(BasemapToggleWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="basemap Gallery-input">
            Basemap Gallery:
        </label>
        <input id="basemap Gallery-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(BasemapGalleryWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="legend-input">
            Legend:
        </label>
        <input id="legend-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(LegendWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="scale Bar-input">
            Scale Bar:
        </label>
        <input id="scale Bar-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(ScaleBarWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="home-input">
            Home:
        </label>
        <input id="home-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(HomeWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="compass-input">
            Compass:
        </label>
        <input id="compass-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(CompassWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="bookmarks-input">
            Bookmarks:
        </label>
        <input id="bookmarks-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(BookmarksWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="distance Measurement-input">
            Distance Measurement:
        </label>
        <input id="distance Measurement-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(MeasurementWidget)))"/>
    </div>
    <div class="form-group spaced-row">
        <label for="area Measurement 2D-input">
            Area Measurement 2D:
        </label>
        <input id="area Measurement 2D-input" type="checkbox" class="form-check-input"  @onchange="@(() => ToggleWidget(nameof(AreaMeasurement2DWidget)))"/>
    </div>
        
</div>

<div id="gallery-box"></div>

<MapView @ref="MapView" Longitude="-40" Latitude="28" Zoom="2" Class="map-view">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisNavigation" />
        </Basemap>
    </Map>
    @if (_showLocate)
    {
        <LocateWidget Scale="1500" 
                      Position="OverlayPosition.TopLeft" />
    }
    @if (_showSearch)
    {
        <SearchWidget Position="OverlayPosition.TopRight" />
    }
    @if (_showBasemapToggle)
    {
        <BasemapToggleWidget NextBasemapStyle="BasemapStyleName.ArcgisImagery" 
                             Position="OverlayPosition.BottomRight" />
    }
    @if (_showBasemapGallery)
    {
        <BasemapGalleryWidget ContainerId="gallery-box" />
    }
    @if (_showScaleBar)
    {
        <ScaleBarWidget Position="OverlayPosition.BottomLeft" />
    }
    @if (_showLegend)
    {
        <LegendWidget Position="OverlayPosition.TopRight" />
    }
    @if (_showHome)
    {
        <HomeWidget Position="OverlayPosition.TopLeft" />
    }
    @if (_showCompass)
    {
        <CompassWidget Position="OverlayPosition.TopLeft" />
    }
    @if (_showDistanceMeasurement)
    {
        <MeasurementWidget ActiveTool="ActiveTool.Distance" Label="Measure Widget" LinearUnit="SystemOrLengthUnit.NauticalMiles" Position="OverlayPosition.TopLeft" />
    }
    @if (_showAreaMeasurement)
    {
        <MeasurementWidget ActiveTool="ActiveTool.Area" Label="Test Area" AreaUnit="SystemOrAreaUnit.SquareMeters" Position="OverlayPosition.TopLeft"/>
    }
    @if (_showBookmarks)
    {
        <BookmarksWidget Position="OverlayPosition.TopRight" 
                         @ref="_bookmarkWidget"
                         DragEnabled="true">
            <BookmarksVisibleElements EditBookmarkButton="true"
                                      AddBookmarkButton="true" />
        </BookmarksWidget>
    }
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-support-widget.html", "ArcGIS Maps SDK for JavaScript"),
        new("https://www.arcgis.com/home/item.html?id=c50de463235e4161b206d000587af18b", "Navigation BaseMap")
    ];

    public override string Description =>
        "This GeoBlazor sample, written in Blazor for .NET developers, demonstrates a gallery of widgets " +
        "from the ArcGIS Maps SDK for JavaScript exposed through GeoBlazor Razor components including " +
        "LocateWidget, SearchWidget, BasemapToggleWidget, BasemapGalleryWidget, LegendWidget, " +
        "ScaleBarWidget, HomeWidget, CompassWidget, BookmarksWidget, and MeasurementWidget. The page " +
        "shows a 2D navigation basemap centered over the North Atlantic at zoom level 2. Above the map " +
        "is a panel of ten labelled checkboxes for Locator, Search, Basemap Toggle, Basemap Gallery, " +
        "Legend, Scale Bar, Home, Compass, Bookmarks, Distance Measurement, and Area Measurement 2D, " +
        "plus an empty gallery-box div that hosts the Basemap Gallery outside the map when its checkbox " +
        "is on. Toggling each checkbox shows or hides the corresponding widget, with the Locator and " +
        "Home and Compass and measurement widgets anchored top-left, Search and Legend and Bookmarks " +
        "anchored top-right, the Basemap Toggle anchored bottom-right (toggling to ArcGIS imagery), " +
        "and the Scale Bar anchored bottom-left. Enabling Bookmarks programmatically loads three " +
        "preset bookmarks (Angeles National Forest, Crystal Lake, Mt. Waterman) into the widget. The " +
        "sample is intended to demonstrate composing and toggling many ArcGIS view widgets in a Blazor " +
        "application without writing JavaScript.";

    private MapView? MapView { get; set; }

    private async Task ToggleWidget(string widgetTypeName)
    {
        switch (widgetTypeName)
        {
            case nameof(LocateWidget):
                _showLocate = !_showLocate;
                break;
            case nameof(SearchWidget):
                _showSearch = !_showSearch;
                break;
            case nameof(BasemapToggleWidget):
                _showBasemapToggle = !_showBasemapToggle;
                break;
            case nameof(BasemapGalleryWidget):
                _showBasemapGallery = !_showBasemapGallery;
                break;
            case nameof(LegendWidget):
                _showLegend = !_showLegend;
                break;
            case nameof(ScaleBarWidget):
                _showScaleBar = !_showScaleBar;
                break;
            case nameof(HomeWidget):
                _showHome = !_showHome;
                break;
            case nameof(CompassWidget):
                _showCompass = !_showCompass;
                break;
            case nameof(MeasurementWidget):
                _showDistanceMeasurement = !_showDistanceMeasurement;
                break;
            case nameof(AreaMeasurement2DWidget):
                _showAreaMeasurement = !_showAreaMeasurement;
                break;
            case nameof(BookmarksWidget):
                _showBookmarks = !_showBookmarks;

                if (_showBookmarks)
                {
                    while (_bookmarkWidget is null)
                    {
                        await Task.Delay(100);
                    }

                    await Task.Delay(500);
                    
                    await InvokeAsync(async () =>
                    {
                        await _bookmarkWidget!.SetBookmarks(_bookmarks);
                        StateHasChanged();
                    });
                }
                break;
        }
    }

    private readonly List<Bookmark> _bookmarks =
    [
        new("Angeles National Forest",
            thumbnail: new BookmarkThumbnail("/_content/dymaptic.GeoBlazor.Core.Sample.Shared/images/Blazor-API-60px.webp"),
            viewpoint: new Viewpoint(new Extent(-13092887.54677721, -13139131.948889678,
                4090610.189673263, 4047767.23531948, spatialReference: new SpatialReference(102100)))),

        new("Crystal Lake",
            viewpoint: new Viewpoint(new Extent(-13114291.451169826, -13125852.551697943,
                4077614.8487296384, 4066904.1101411926, spatialReference: new SpatialReference(102100)))),

        new("Mt. Waterman",
            viewpoint: new Viewpoint(new Extent(-13183855.195875114, -13185668.186639601,
                4067515.260976006, 4066176.418652561, spatialReference: new SpatialReference(102100))))
    ];

    private bool _showSearch;
    private bool _showLocate;
    private bool _showBasemapToggle;
    private bool _showBasemapGallery;
    private bool _showScaleBar;
    private bool _showLegend;
    private bool _showHome;
    private bool _showCompass;
    private bool _showDistanceMeasurement;
    private bool _showAreaMeasurement;
    private bool _showBookmarks;

    private BookmarksWidget? _bookmarkWidget;    
}