@page "/control"
@using System.Text.Json
@rendermode InteractiveServer
<h1>Control</h1>

<div class="row">
    @if (_countries is not null)
    {
        <select @bind="@State.CurrentCountry">
            <option value="">Select</option>
            @foreach (var country in _countries)
            {
                <option value="@country">@country</option>
            }
        </select>
    }
</div>
<div class="row">
    <button @onclick="ResetGame">Reset Game</button>
</div>
<div class="row">
    <button @onclick="SetCountry">Set Country</button>
</div>
<div class="row">
    <button @onclick="ScoreGame">Score Game</button>
</div>
<div class="row">
    <h3>Connected Users</h3>
    <ul>
        @foreach (var user in State.ConnectedUsers)
        {
            <li>@user</li>
        }
    </ul>
</div>
<div class="row">
    <button @onclick="ClearAllUsers">Clear All Users</button>
</div>
<div class="row">
    <h3>Contact Info</h3>
    <ul>
        @foreach (var email in State.Emails)
        {
            <li>@email</li>
        }
    </ul>
</div>

@code {
    [Inject] public required IHubContext<SignalRHub> HubContext { get; set; }

    [Inject] public required IWebHostEnvironment WebHostEnvironment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var countryJson = await File.ReadAllTextAsync(
            Path.Combine(WebHostEnvironment.WebRootPath, "countries.json"));
        var countriesRecord = JsonSerializer.Deserialize<CountriesRecord>(countryJson, _options)!;
        _countries = countriesRecord.Features
            .Select(x => x.Attributes.COUNTRY)
            .Distinct()
            .Order()
            .ToList();
    }

    private async Task SetCountry()
    {
        await HubContext.Clients.Group("players").SendAsync(nameof(SignalRClient.SetCountry), State.CurrentCountry);
    }

    private async Task ScoreGame()
    {
        foreach (var kvp in State.UserGuesses)
        {
            if (kvp.Value == State.CurrentCountry)
            {
                State.Winners.Add(kvp.Key);
            }
        }

        if (State.FinalizeGame is not null)
        {
            await State.FinalizeGame();
        }

        await HubContext.Clients.Group("players").SendAsync(nameof(SignalRClient.GameOver), State.CurrentCountry);
    }

    private async Task ResetGame()
    {
        State.Winners.Clear();
        State.UserGuesses.Clear();
        if (State.ResetGame is not null)
        {
            await State.ResetGame();
        }

        await HubContext.Clients.Group("players").SendAsync(nameof(SignalRClient.ResetGame));
    }

    private void ClearAllUsers()
    {
        State.ConnectedUsers.Clear();
    }

    private List<string>? _countries;

    private readonly JsonSerializerOptions _options = new()
    {
        PropertyNameCaseInsensitive = true
    };

    public record CountriesRecord(List<CountryRecord> Features);

    public record CountryRecord(CountryAttributesRecord Attributes);

    public record CountryAttributesRecord(string COUNTRY);

}