@page "/clustering"
@inherits SamplePage
<PageTitle>Clustering</PageTitle>
<h1>Clustering</h1>

<p class="instructions">
    This sample demonstrates how to enable point clustering on a GeoJSONLayer. Clustering is a method of reducing points
    in a FeatureLayer, CSVLayer, GeoJSONLayer, WFSLayer, or OGCFeatureLayer by grouping them based on their spatial
    proximity to one another. Typically, clusters are proportionally sized based on the number of features within each
    cluster.
</p>

<MapView @ref="_mapView" Class="map-view"
         ExcludeApiKey="true" Scale="288895"
         Center="@(new Point(-73.94226, 40.7163))">
    <SpatialReference Wkid="5936"/>
    <Extent Xmax="2461436" Xmin="1270382"
            Ymax="-953893" Ymin="-1729511">
        <SpatialReference Wkid="5936"/>
    </Extent>
    <Map>
        <GeoJSONLayer @ref="_geoJsonLayer"
                      Title="Earthquakes from the last month"
                      Url="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson"
                      Copyright="USGS Earthquakes">
            <PopupTemplate Title="Magnitude {mag} {type}"
                           StringContent="Magnitude {mag} {type} hit {place} on {time}">
                <FieldInfo FieldName="time">
                    <FieldInfoFormat DateFormat="DateFormat.ShortDateShortTime"/>
                </FieldInfo>
            </PopupTemplate>
            <SimpleRenderer>
                <SimpleMarkerSymbol Size="8" Color="@(new MapColor("#69dcff"))"
                                    Style="SimpleMarkerSymbolStyle.Triangle">
                    <Outline Color="@(new MapColor(0, 139, 174, 0.5))" Width="1"/>
                </SimpleMarkerSymbol>
            </SimpleRenderer>
            <FeatureReductionCluster @ref="_featureReductionCluster"
                                     ClusterRadius="@("100px")"
                                     ClusterMinSize="@("24px")"
                                     ClusterMaxSize="@("60px")">
                <PopupTemplate Title="Cluster summary"
                               StringContent="This cluster represents {cluster_count} earthquakes.">
                    <FieldInfo FieldName="cluster_count">
                        <FieldInfoFormat Places="0" DigitSeparator="true"/>
                    </FieldInfo>
                </PopupTemplate>
                <SimpleMarkerSymbol Style="SimpleMarkerSymbolStyle.Circle"
                                    Color="@(new MapColor("#69dcff"))">
                    <Outline Color="@(new MapColor(0, 139, 174, 0.5))" Width="6"/>
                </SimpleMarkerSymbol>
                <Label DeconflictionStrategy="DeconflictionStrategy.None"
                       LabelPlacement="LabelPlacement.CenterCenter">
                    <LabelExpressionInfo Expression="Text($feature.cluster_count, '#,###')"/>
                    <TextSymbol Color="@(new MapColor("#004a5d"))">
                        <MapFont Weight="FontWeight.Bold" Family="Noto Sans" Size="12"/>
                    </TextSymbol>
                </Label>
            </FeatureReductionCluster>
        </GeoJSONLayer>
        <FeatureLayer LegendEnabled="false" PopupEnabled="false">
            <PortalItem PortalItemId="2b93b06dc0dc4e809d3c8db5cb96ba69"/>
            <SimpleRenderer>
                <SimpleFillSymbol Color="@(new MapColor(65, 65, 65, 1))">
                    <Outline Color="@(new MapColor(50, 50, 50, 0.75))" Width="0.5"/>
                </SimpleFillSymbol>
            </SimpleRenderer>
            <SpatialReference Wkid="5936"/>
        </FeatureLayer>
    </Map>
    <HomeWidget Position="OverlayPosition.TopLeft"/>
    <ExpandWidget Position="OverlayPosition.TopLeft" ExpandIcon="list-bullet" Expanded="false">
        <button id="toggle-button" class="esri-button"
                type="button" @onclick="ToggleClustering">
            @(_cluster ? "Disable Clustering" : "Enable Clustering")
        </button>
        <LegendWidget/>
    </ExpandWidget>
</MapView>

@code {

    public override List<NavMenu.PageLink> PageLinks =>
    [
        new("https://developers.arcgis.com/javascript/latest/sample-code/featurereduction-cluster/", "ArcGIS Maps SDK for JavaScript"),
        new("https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson", "Earthquake GeoJSON Layer"),
        new("https://www.arcgis.com/home/item.html?id=2b93b06dc0dc4e809d3c8db5cb96ba69", "World Countries Generalized Layer")
    ];

    private async Task ToggleClustering()
    {
        _cluster = !_cluster;

        if (!_cluster)
        {
            await _geoJsonLayer!.SetFeatureReduction(null);
        }
        else
        {
            await _geoJsonLayer!.SetFeatureReduction(_featureReductionCluster!);
        }
    }

    private bool _cluster = true;
    private GeoJSONLayer? _geoJsonLayer;
    private FeatureReductionCluster? _featureReductionCluster;
    private MapView? _mapView;
}