@page "/custom-popup-content"
@inherits SamplePage

<PageTitle>Custom Popup Content</PageTitle>
<h1>Custom Popup Content</h1>

<p class="instructions">
    This sample demonstrates how to work with custom content elements within the PopupTemplate's content. 
    There are five types of popup elements: <code>FieldsPopupContent</code>, <code>MediaPopupContent</code>, <code>TextPopupContent</code>, <code>AttachmentsPopupContent</code>, and <code>CustomPopupContent</code>. 
    The <code>CustomPopupContent</code>'s value is set via the <code>CreatorFunction</code> property, or by providing child content inside the component. 
    The <code>CreatorFunction</code> property has an event parameter with the selected <code>Feature</code> graphic, and returns
    an HTML string value to be rendered. The child content of <code>CustomPopupContent</code> can be either HTML content or a GeoBlazor <code>Widget</code>.
    In this sample, we combine three different types of custom content elements: an image, a <code>SearchWidget</code>, 
    and a <code>CreatorFunction</code> that parses the selected graphic for data.
</p>

<MapView @ref="_mapView"
         Longitude="-98" Latitude="38.5" 
         Zoom="4" Class="map-view">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisTopographic" />
        </Basemap>
        <FeatureLayer Url="https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/OverlaySchools/FeatureServer/0"
                      OutFields="@(["*"])"
                      Title="Private and Public schools in the US"
                      @ref="_schoolsLayer"
                      PopupEnabled="true">
            <PopupTemplate OutFields="@( ["*"])"
                           Title="State: {state_name}">
                <CustomPopupContent>
                    <img src="@_logoUrl"
                         width="150"
                         alt="GeoBlazor Logo" />
                </CustomPopupContent>
                <CustomPopupContent>
                    <SearchWidget IncludeDefaultSources="false"
                                  LocationEnabled="false"
                                  PopupEnabled="true"
                                  SearchAllEnabled="false"
                                  SuggestionsEnabled="true"
                                  OnSelectResult="OnSelectResult">
                        <LayerSearchSource LayerId="_schoolsLayer?.Id"
                                           SearchFields="@( ["state_name"])"
                                           DisplayField="state_name"
                                           ExactMatch="false"
                                           OutFields="@( ["*"])"
                                           Name="State name"
                                           Placeholder="Search by state" />
                    </SearchWidget>
                </CustomPopupContent>
                <CustomPopupContent CreatorFunction="@GenerateContent"
                                    OutFields="@( ["*"])" />
            </PopupTemplate>
        </FeatureLayer>
    </Map>
    <PopupWidget @ref="_popupWidget" 
                 DefaultPopupTemplateEnabled="false"
                 DockEnabled="true">
        <PopupDockOptions ButtonEnabled="false"
                          BreakPoint="@(new BreakPoint(false))" />
    </PopupWidget>
</MapView>