<nav>
    <div class="navbar__container">
        <div class="navbar__logo-container">
            <a href="https://geoblazor.com">
                <div class="navbar__logo" aria-label="GeoBlazor Logo"></div>
            </a>
        </div>
        <div class="navbar__menu-container" @onclick="ToggleGlobalNavMenu">
            <i class="icon hamburger-icon"></i>
        </div>
        <div class="navbar__menu-item-container @GlobalNavMenuCssClass">
            <a id="features__link" class="navbar__menu-item" href="https://docs.geoblazor.com/pages/features" target="_blank">
                <span class="navbar__menu-item__text">Features</span>
            </a>
            <a class="navbar__menu-item" href="https://docs.geoblazor.com">
                <span class="navbar__menu-item__text desktop">Documentation</span>
                <span class="navbar__menu-item__text mobile">Docs</span>
            </a>
            <a class="navbar__menu-item" href="" @onclick="ToggleGlobalNavMenu">
                <span class="navbar__menu-item__text">Samples</span>
            </a>
            <a class="navbar__menu-item" href="https://geoblazor.com/pricing">
                <span class="navbar__menu-item__text">Pricing</span>
            </a>
            <a class="navbar__menu-item" href="https://geoblazor.com/blog">
                <span class="navbar__menu-item__text">Blog</span>
            </a>
            <a id="signin__link" class="btn btn-signin" href="https://licensing.dymaptic.com">
                Sign In
            </a>
        </div>
    </div>
    <button id="lower-nav-toggle" type="button" class="btn btn-lower-nav-toggle" @onclick="ToggleNavMenu">
        <span>Samples</span>
        <span class="oi oi-chevron-down" aria-hidden="true"></span>
    </button>
    <SearchBox Filter="OnSearchFilter" FullSearch="OnFullSearch" />
    <div id="lower-nav-container" @ref="Navbar" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav-list">
            @foreach (PageLink page in FilteredPages)
            {
                string linkClass = $"nav-list-link{(page.Pro ? " pro" : "")}";
                <li class="nav-list-item" @onclick="@(() => NavigateTo(page.Href))">
                    <NavLink class="@linkClass" href="@(page.Href)" @onclick:preventDefault="true" Match="NavLinkMatch.All">
                        @if (page.IconClass is not null)
                        {
                            <text><span class="oi @(page.IconClass)" aria-hidden="true"></span><span class="nav-item-title">@(page.Title)</span></text>
                        }
                        else
                        {
                            <text><span class="oi"><img src="_content/dymaptic.GeoBlazor.Core.Sample.Shared/images/@(page.ImageFile)" alt="@(page.Title)" /></span><span class="nav-item-title">@(page.Title)</span></text>
                        }
                    </NavLink>
                </li>
            }
        </ul>
    </div>
</nav>